
# Directorios generados
/generated-sources
/generated-test-sources

# Archivos específicos de Maven
/maven-archiver
/maven-status

# Reportes de pruebas
/surefire-reports

# Configuraciones de IDE
.idea/
*.iml

# Control de versiones
.git
.gitignore

# Documentación
README.md

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Logs y archivos temporales
*.log
*.tmp
*.temp
*.swp
*.swo


# Otros archivos innecesarios
*.bak
*.backup

