.user-list {
  padding: 20px;
  margin-top: 20px;
}

.user-list h2 {
  color: white;
}

.user-list ul {
  list-style-type: none;
  padding: 0;
}

.user-list li {
  border-bottom: 1px solid #eee;
  padding: 10px;
}

.user-list li:last-child {
  border-bottom: none;
}

.usuario-form {
  padding: 20px;
  max-width: 400px; /* Ajusta el ancho máximo según sea necesario */
  margin: 20px auto; /* Centrar el formulario */
}

.usuario-form label {
  display: block;
  margin-bottom: 10px;
}

.usuario-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.usuario-form button {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.usuario-form button:hover {
  background-color: #2980b9;
}
